<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <security:http 
            realm="Protected API"
		    use-expressions="true"
			auto-config="false"
			create-session="stateless"
			entry-point-ref="unauthorizedEntryPoint"
			authentication-manager-ref="authenticationManager">
	    <security:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
        <security:intercept-url pattern="/index.jsp" access="permitAll" />
        <security:intercept-url pattern="/app/home/login" access="permitAll" />
        <security:intercept-url pattern="/app/home/registerUser" access="permitAll" />
        <security:intercept-url pattern="/app/marketData/companyNews/**" access="permitAll" />
        <security:intercept-url pattern="/app/marketData/retrieveMarketData/**" access="permitAll" />
        <security:intercept-url pattern="/app/view/testView" access="permitAll" />
        <security:intercept-url pattern="/app/cron/**" access="permitAll" />
        <security:intercept-url pattern="/app/snowReport/**" access="permitAll" />
        <security:intercept-url pattern="/app/companyData/**" access="permitAll" />
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
    </security:http>

    <bean id="unauthorizedEntryPoint" class="com.poi.util.UnauthorizedEntryPoint" />

    <bean class="com.po.eod.security.AuthenticationTokenProcessingFilter" id="authenticationTokenProcessingFilter">
		<constructor-arg ref="userDetailsService" />
	</bean>

    <bean id="passwordEncoder" class="com.po.eod.security.SaltedSHA256PasswordEncoder">
		<constructor-arg value="secret" />
	</bean>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

	<bean id="userDetailsService" class="com.poi.service.UserDetailsServiceImpl">
        <property name="objectifyFactory" ref="objectifyFactory" />
        <property name="memcacheService" ref="memcacheServiceUser" />
    </bean>

</beans>